In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("WA with Elil Greens.txt",header=None,error_bad_lines=False,encoding="utf8")

C:\Anaconda\envs\ai\lib\site-packages\IPython\core\interactiveshell.py:3553: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
df

,0,1,2,3
0,1/6/23,9:39â€¯AM - Messages and calls are end-to-end e...,not even WhatsApp,can read or listen to them. Tap to learn more.
1,1/6/23,9:39â€¯AM - Elil Greens: Hi,NaN,NaN
2,1/6/23,9:39â€¯AM - Elil Greens: I am Ezhilarasan from ...,NaN,NaN
3,1/6/23,9:39â€¯AM - Elil Greens: When will u free pls c...,NaN,NaN
4,1/6/23,10:05â€¯AM - ðŸŒš: Pls give the python content,NaN,NaN
...,...,...,...,...
111,3/3/23,7:11â€¯PM - ðŸŒš: Sir link,NaN,NaN
112,3/3/23,7:20â€¯PM - ðŸŒš: Sir,need link,NaN
113,3/3/23,7:49â€¯PM - ðŸŒš: Sir,noted,NaN
114,3/5/23,9:26â€¯PM - Elil Greens: Hai all,Tommorrow and Tuesday we don't have class due...,NaN
115,3/5/23,9:48â€¯PM - ðŸŒš: Ok sir,NaN,NaN

In [4]:
df=df.drop(0)#row deleted

In [5]:
df

,0,1,2,3
1,1/6/23,9:39â€¯AM - Elil Greens: Hi,NaN,NaN
2,1/6/23,9:39â€¯AM - Elil Greens: I am Ezhilarasan from ...,NaN,NaN
3,1/6/23,9:39â€¯AM - Elil Greens: When will u free pls c...,NaN,NaN
4,1/6/23,10:05â€¯AM - ðŸŒš: Pls give the python content,NaN,NaN
5,1/6/23,10:08â€¯AM - Elil Greens: ok,NaN,NaN
...,...,...,...,...
111,3/3/23,7:11â€¯PM - ðŸŒš: Sir link,NaN,NaN
112,3/3/23,7:20â€¯PM - ðŸŒš: Sir,need link,NaN
113,3/3/23,7:49â€¯PM - ðŸŒš: Sir,noted,NaN
114,3/5/23,9:26â€¯PM - Elil Greens: Hai all,Tommorrow and Tuesday we don't have class due...,NaN
115,3/5/23,9:48â€¯PM - ðŸŒš: Ok sir,NaN,NaN

In [6]:
df=df.drop(2,axis=1)

In [7]:
df

          0                                                  1    3
1    1/6/23                          9:39â€¯AM - Elil Greens: Hi  NaN
2    1/6/23   9:39â€¯AM - Elil Greens: I am Ezhilarasan from ...  NaN
3    1/6/23   9:39â€¯AM - Elil Greens: When will u free pls c...  NaN
4    1/6/23          10:05â€¯AM - ðŸŒš: Pls give the python content  NaN
5    1/6/23                         10:08â€¯AM - Elil Greens: ok  NaN
..      ...                                                ...  ...
111  3/3/23                              7:11â€¯PM - ðŸŒš: Sir link  NaN
112  3/3/23                                  7:20â€¯PM - ðŸŒš: Sir   NaN
113  3/3/23                                  7:49â€¯PM - ðŸŒš: Sir   NaN
114  3/5/23                     9:26â€¯PM - Elil Greens: Hai all  NaN
115  3/5/23                                9:48â€¯PM - ðŸŒš: Ok sir  NaN

[115 rows x 3 columns]

In [8]:
df=df.drop(3,axis=1)

In [9]:
df

          0                                                  1
1    1/6/23                          9:39â€¯AM - Elil Greens: Hi
2    1/6/23   9:39â€¯AM - Elil Greens: I am Ezhilarasan from ...
3    1/6/23   9:39â€¯AM - Elil Greens: When will u free pls c...
4    1/6/23          10:05â€¯AM - ðŸŒš: Pls give the python content
5    1/6/23                         10:08â€¯AM - Elil Greens: ok
..      ...                                                ...
111  3/3/23                              7:11â€¯PM - ðŸŒš: Sir link
112  3/3/23                                  7:20â€¯PM - ðŸŒš: Sir
113  3/3/23                                  7:49â€¯PM - ðŸŒš: Sir
114  3/5/23                     9:26â€¯PM - Elil Greens: Hai all
115  3/5/23                                9:48â€¯PM - ðŸŒš: Ok sir

[115 rows x 2 columns]

In [10]:
df.columns=["Date","Chat"]

In [11]:
df

       Date                                               Chat
1    1/6/23                          9:39â€¯AM - Elil Greens: Hi
2    1/6/23   9:39â€¯AM - Elil Greens: I am Ezhilarasan from ...
3    1/6/23   9:39â€¯AM - Elil Greens: When will u free pls c...
4    1/6/23          10:05â€¯AM - ðŸŒš: Pls give the python content
5    1/6/23                         10:08â€¯AM - Elil Greens: ok
..      ...                                                ...
111  3/3/23                              7:11â€¯PM - ðŸŒš: Sir link
112  3/3/23                                  7:20â€¯PM - ðŸŒš: Sir
113  3/3/23                                  7:49â€¯PM - ðŸŒš: Sir
114  3/5/23                     9:26â€¯PM - Elil Greens: Hai all
115  3/5/23                                9:48â€¯PM - ðŸŒš: Ok sir

[115 rows x 2 columns]

In [12]:
message=df["Chat"].str.split("-",n=1,expand=True)

In [13]:
message

              0                                                  1
1      9:39â€¯AM                                     Elil Greens: Hi
2      9:39â€¯AM    Elil Greens: I am Ezhilarasan from Greens tec...
3      9:39â€¯AM           Elil Greens: When will u free pls call me
4     10:05â€¯AM                      ðŸŒš: Pls give the python content
5     10:08â€¯AM                                     Elil Greens: ok
..          ...                                                ...
111    7:11â€¯PM                                         ðŸŒš: Sir link
112    7:20â€¯PM                                             ðŸŒš: Sir
113    7:49â€¯PM                                             ðŸŒš: Sir
114    9:26â€¯PM                                Elil Greens: Hai all
115    9:48â€¯PM                                           ðŸŒš: Ok sir

[115 rows x 2 columns]

In [14]:
df["Time"]=message[0]

In [15]:
df

       Date                                               Chat        Time
1    1/6/23                          9:39â€¯AM - Elil Greens: Hi    9:39â€¯AM
2    1/6/23   9:39â€¯AM - Elil Greens: I am Ezhilarasan from ...    9:39â€¯AM
3    1/6/23   9:39â€¯AM - Elil Greens: When will u free pls c...    9:39â€¯AM
4    1/6/23          10:05â€¯AM - ðŸŒš: Pls give the python content   10:05â€¯AM
5    1/6/23                         10:08â€¯AM - Elil Greens: ok   10:08â€¯AM
..      ...                                                ...         ...
111  3/3/23                              7:11â€¯PM - ðŸŒš: Sir link    7:11â€¯PM
112  3/3/23                                  7:20â€¯PM - ðŸŒš: Sir     7:20â€¯PM
113  3/3/23                                  7:49â€¯PM - ðŸŒš: Sir     7:49â€¯PM
114  3/5/23                     9:26â€¯PM - Elil Greens: Hai all    9:26â€¯PM
115  3/5/23                                9:48â€¯PM - ðŸŒš: Ok sir    9:48â€¯PM

[115 rows x 3 columns]

In [16]:
message1=message[1].str.split(":",n=1,expand=True)

In [17]:
message1

                0                                         1
1     Elil Greens                                        Hi
2     Elil Greens   I am Ezhilarasan from Greens technology
3     Elil Greens              When will u free pls call me
4               ðŸŒš               Pls give the python content
5     Elil Greens                                        ok
..            ...                                       ...
111             ðŸŒš                                  Sir link
112             ðŸŒš                                      Sir
113             ðŸŒš                                      Sir
114   Elil Greens                                   Hai all
115             ðŸŒš                                    Ok sir

[115 rows x 2 columns]

In [18]:
df["Name"]=message1[0]

In [19]:
df

,Date,Chat,Time,Name
1,1/6/23,9:39â€¯AM - Elil Greens: Hi,9:39â€¯AM,Elil Greens
2,1/6/23,9:39â€¯AM - Elil Greens: I am Ezhilarasan from ...,9:39â€¯AM,Elil Greens
3,1/6/23,9:39â€¯AM - Elil Greens: When will u free pls c...,9:39â€¯AM,Elil Greens
4,1/6/23,10:05â€¯AM - ðŸŒš: Pls give the python content,10:05â€¯AM,ðŸŒš
5,1/6/23,10:08â€¯AM - Elil Greens: ok,10:08â€¯AM,Elil Greens
...,...,...,...,...
111,3/3/23,7:11â€¯PM - ðŸŒš: Sir link,7:11â€¯PM,ðŸŒš
112,3/3/23,7:20â€¯PM - ðŸŒš: Sir,7:20â€¯PM,ðŸŒš
113,3/3/23,7:49â€¯PM - ðŸŒš: Sir,7:49â€¯PM,ðŸŒš
114,3/5/23,9:26â€¯PM - Elil Greens: Hai all,9:26â€¯PM,Elil Greens
115,3/5/23,9:48â€¯PM - ðŸŒš: Ok sir,9:48â€¯PM,ðŸŒš

In [20]:
df["Chat"]=message1[1]

In [21]:
df

,Date,Chat,Time,Name
1,1/6/23,Hi,9:39â€¯AM,Elil Greens
2,1/6/23,I am Ezhilarasan from Greens technology,9:39â€¯AM,Elil Greens
3,1/6/23,When will u free pls call me,9:39â€¯AM,Elil Greens
4,1/6/23,Pls give the python content,10:05â€¯AM,ðŸŒš
5,1/6/23,ok,10:08â€¯AM,Elil Greens
...,...,...,...,...
111,3/3/23,Sir link,7:11â€¯PM,ðŸŒš
112,3/3/23,Sir,7:20â€¯PM,ðŸŒš
113,3/3/23,Sir,7:49â€¯PM,ðŸŒš
114,3/5/23,Hai all,9:26â€¯PM,Elil Greens
115,3/5/23,Ok sir,9:48â€¯PM,ðŸŒš

In [22]:
df=df[["Date","Time","Name","Chat"]]

In [23]:
df

,Date,Time,Name,Chat
1,1/6/23,9:39â€¯AM,Elil Greens,Hi
2,1/6/23,9:39â€¯AM,Elil Greens,I am Ezhilarasan from Greens technology
3,1/6/23,9:39â€¯AM,Elil Greens,When will u free pls call me
4,1/6/23,10:05â€¯AM,ðŸŒš,Pls give the python content
5,1/6/23,10:08â€¯AM,Elil Greens,ok
...,...,...,...,...
111,3/3/23,7:11â€¯PM,ðŸŒš,Sir link
112,3/3/23,7:20â€¯PM,ðŸŒš,Sir
113,3/3/23,7:49â€¯PM,ðŸŒš,Sir
114,3/5/23,9:26â€¯PM,Elil Greens,Hai all
115,3/5/23,9:48â€¯PM,ðŸŒš,Ok sir

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 115 entries, 1 to 115
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    115 non-null    object
 1   Time    71 non-null     object
 2   Name    66 non-null     object
 3   Chat    66 non-null     object
dtypes: object(4)
memory usage: 4.5+ KB

In [25]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import nltk

In [26]:
dataset=df

In [27]:
dataset.dropna(inplace=True)

C:\Anaconda\envs\ai\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [28]:
dataset

,Date,Time,Name,Chat
1,1/6/23,9:39â€¯AM,Elil Greens,Hi
2,1/6/23,9:39â€¯AM,Elil Greens,I am Ezhilarasan from Greens technology
3,1/6/23,9:39â€¯AM,Elil Greens,When will u free pls call me
4,1/6/23,10:05â€¯AM,ðŸŒš,Pls give the python content
5,1/6/23,10:08â€¯AM,Elil Greens,ok
...,...,...,...,...
111,3/3/23,7:11â€¯PM,ðŸŒš,Sir link
112,3/3/23,7:20â€¯PM,ðŸŒš,Sir
113,3/3/23,7:49â€¯PM,ðŸŒš,Sir
114,3/5/23,9:26â€¯PM,Elil Greens,Hai all
115,3/5/23,9:48â€¯PM,ðŸŒš,Ok sir

In [29]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 66 entries, 1 to 115
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    66 non-null     object
 1   Time    66 non-null     object
 2   Name    66 non-null     object
 3   Chat    66 non-null     object
dtypes: object(4)
memory usage: 2.6+ KB

In [30]:
sia=SentimentIntensityAnalyzer()

In [31]:
senti=sia.polarity_scores(dataset['Chat'][4])

In [32]:
senti

{'neg': 0.0, 'neu': 0.755, 'pos': 0.245, 'compound': 0.0772}

In [33]:
def sentimentalAnalysis(dataset,columnName):    
    #downloading vader_lexicon for  the process
    import matplotlib.pyplot as plt
    import seaborn as sns
    "Import neccessary packages"
    from nltk.sentiment.vader import SentimentIntensityAnalyzer
    import nltk
    "Deleting null values"
    dataset.dropna(inplace=True)
    "Checking for the comment"
    #sia.polarity_scores(data[columnName][63])
    "Creating respective columns"
    dataset['scores']=dataset[columnName].apply(lambda commentText:sia.polarity_scores(commentText))
    dataset['compound']=dataset['scores'].apply(lambda score_dict:score_dict['compound'])
    dataset['positive']=dataset['scores'].apply(lambda score_dict:score_dict['pos'])
    dataset['neutral']=dataset['scores'].apply(lambda score_dict:score_dict['neu'])
    dataset['negative']=dataset['scores'].apply(lambda score_dict:score_dict['neg'])
    "Creating final pos or neg using compound score"
    dataset['comp_score']=dataset['compound'].apply(lambda c:'pos' if c>=0 else 'neg')
    plt.clf()
    #comp=sns.countplot(x='comp_score',hue='Name',data=data,palette='magma')
    #comp.figure.savefig("date_charts.png")
    "Checking how many pos or neg"
    posneg=pd.DataFrame(dataset['comp_score'].value_counts())
    return posneg,dataset

In [34]:
pos,dataset_senti=sentimentalAnalysis(dataset,columnName='Chat')

C:\Anaconda\envs\ai\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)
C:\Anaconda\envs\ai\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Anaconda\envs\ai\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Anaconda\envs\ai\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
C:\Anaconda\envs\ai\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Anaconda\envs\ai\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
C:\Anaconda\envs\ai\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [35]:
dataset_senti

,Date,Time,Name,Chat,scores,compound,positive,neutral,negative,comp_score
1,1/6/23,9:39â€¯AM,Elil Greens,Hi,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.000,1.000,0.0,pos
2,1/6/23,9:39â€¯AM,Elil Greens,I am Ezhilarasan from Greens technology,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.000,1.000,0.0,pos
3,1/6/23,9:39â€¯AM,Elil Greens,When will u free pls call me,"{'neg': 0.0, 'neu': 0.465, 'pos': 0.535, 'comp...",0.5574,0.535,0.465,0.0,pos
4,1/6/23,10:05â€¯AM,ðŸŒš,Pls give the python content,"{'neg': 0.0, 'neu': 0.755, 'pos': 0.245, 'comp...",0.0772,0.245,0.755,0.0,pos
5,1/6/23,10:08â€¯AM,Elil Greens,ok,"{'neg': 0.0, 'neu': 0.0, 'pos': 1.0, 'compound...",0.2960,1.000,0.000,0.0,pos
...,...,...,...,...,...,...,...,...,...,...
111,3/3/23,7:11â€¯PM,ðŸŒš,Sir link,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.000,1.000,0.0,pos
112,3/3/23,7:20â€¯PM,ðŸŒš,Sir,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.000,1.000,0.0,pos
113,3/3/23,7:49â€¯PM,ðŸŒš,Sir,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.000,1.000,0.0,pos
114,3/5/23,9:26â€¯PM,Elil Greens,Hai all,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.000,1.000,0.0,pos
115,3/5/23,9:48â€¯PM,ðŸŒš,Ok sir,"{'neg': 0.0, 'neu': 0.312, 'pos': 0.688, 'comp...",0.2960,0.688,0.312,0.0,pos

In [36]:
pos

     comp_score
pos          62
neg           4

In [37]:
#This is positive conversation

In [38]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [39]:
tfidf=TfidfVectorizer(max_df=0.95,min_df=2,stop_words='english')
dtm=tfidf.fit_transform(df["Chat"])

In [40]:
dtm

<66x24 sparse matrix of type '<class 'numpy.float64'>'
	with 91 stored elements in Compressed Sparse Row format>

In [41]:
from sklearn.decomposition import NMF
nmf_model=NMF(n_components=5,random_state=42)
nmf_model.fit(dtm)

C:\Anaconda\envs\ai\lib\site-packages\sklearn\decomposition\_nmf.py:294: FutureWarning: The 'init' value, when 'init=None' and n_components is less than n_samples and n_features, will be changed from 'nndsvd' to 'nndsvda' in 1.1 (renaming of 0.26).
  FutureWarning,

NMF(n_components=5, random_state=42)

In [42]:
for index,topic in enumerate (nmf_model.components_):
    results=([tfidf.get_feature_names()[i] for i in topic.argsort()[-10:]])
    print(results)

['belowdetails', 'ok', 'today', 'irukka', 'share', 'meeting', 'message', 'link', 'hello', 'sir']
['hello', 'free', 'demo', 'contacts', 'belowdetails', 'kindly', 'class', 'sir', 'attend', 'ok']
['hi', 'hello', 'free', 'demo', 'contacts', 'class', 'belowdetails', 'kindly', 'sir', 'yes']
['regarding', 'need', 'link', 'tomorrow', 'meeting', 'demo', 'irukka', 'attend', 'today', 'class']
['tomorrow', 'contacts', 'free', 'python', 'message', 'pls', 'belowdetails', 'need', 'kindly', 'share']

C:\Anaconda\envs\ai\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [43]:
topic_results=nmf_model.transform(dtm)
df["Topic"]=topic_results.argmax(axis=1)

C:\Anaconda\envs\ai\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [44]:
df

,Date,Time,Name,Chat,scores,compound,positive,neutral,negative,comp_score,Topic
1,1/6/23,9:39â€¯AM,Elil Greens,Hi,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.000,1.000,0.0,pos,3
2,1/6/23,9:39â€¯AM,Elil Greens,I am Ezhilarasan from Greens technology,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.000,1.000,0.0,pos,0
3,1/6/23,9:39â€¯AM,Elil Greens,When will u free pls call me,"{'neg': 0.0, 'neu': 0.465, 'pos': 0.535, 'comp...",0.5574,0.535,0.465,0.0,pos,4
4,1/6/23,10:05â€¯AM,ðŸŒš,Pls give the python content,"{'neg': 0.0, 'neu': 0.755, 'pos': 0.245, 'comp...",0.0772,0.245,0.755,0.0,pos,4
5,1/6/23,10:08â€¯AM,Elil Greens,ok,"{'neg': 0.0, 'neu': 0.0, 'pos': 1.0, 'compound...",0.2960,1.000,0.000,0.0,pos,1
...,...,...,...,...,...,...,...,...,...,...,...
111,3/3/23,7:11â€¯PM,ðŸŒš,Sir link,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.000,1.000,0.0,pos,0
112,3/3/23,7:20â€¯PM,ðŸŒš,Sir,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.000,1.000,0.0,pos,0
113,3/3/23,7:49â€¯PM,ðŸŒš,Sir,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.000,1.000,0.0,pos,0
114,3/5/23,9:26â€¯PM,Elil Greens,Hai all,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.000,1.000,0.0,pos,0
115,3/5/23,9:48â€¯PM,ðŸŒš,Ok sir,"{'neg': 0.0, 'neu': 0.312, 'pos': 0.688, 'comp...",0.2960,0.688,0.312,0.0,pos,1

# Flirt Prediction

In [45]:
df.to_csv('whatsapp_data.csv', index=False)

In [46]:
import pandas as pd
#from sklearn.model_selection import train_test_split
#from sklearn.feature_extraction.text import TfidfVectorizer
#from sklearn.linear_model import LogisticRegression
#from sklearn.metrics import accuracy_score

# Step 1: Read the WhatsApp chat data
df = pd.read_csv('whatsapp_data.csv')

# Display the first few rows to understand the structure
print(df.head())

# Step 2: Define labels based on criteria (example: using sentiment scores)
def classify_flirtatious(compound_score):
    # Example criteria: classify as flirtatious if compound score is high
    if compound_score >= 0.5:
        return 'yes'
    else:
        return 'no'

# Apply classification function to each row
df['flirt_prediction'] = df['compound'].apply(classify_flirtatious)

# Display the predicted results
print("Predicted Flirtatious Messages:")
print(df[['Date', 'Time', 'Name', 'Chat', 'flirt_prediction']])

# Optionally, you can save the results to a new CSV file
#df.to_csv('whatsapp_data_with_flirt_predictions.csv', index=False)

     Date        Time          Name                                      Chat  \
0  1/6/23    9:39â€¯AM    Elil Greens                                        Hi
1  1/6/23    9:39â€¯AM    Elil Greens   I am Ezhilarasan from Greens technology
2  1/6/23    9:39â€¯AM    Elil Greens              When will u free pls call me
3  1/6/23   10:05â€¯AM              ðŸŒš               Pls give the python content
4  1/6/23   10:08â€¯AM    Elil Greens                                        ok

                                              scores  compound  positive  \
0  {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...    0.0000     0.000
1  {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...    0.0000     0.000
2  {'neg': 0.0, 'neu': 0.465, 'pos': 0.535, 'comp...    0.5574     0.535
3  {'neg': 0.0, 'neu': 0.755, 'pos': 0.245, 'comp...    0.0772     0.245
4  {'neg': 0.0, 'neu': 0.0, 'pos': 1.0, 'compound...    0.2960     1.000

   neutral  negative comp_score  Topic
0    1.000       0.0        pos      3
1    1.000       0.0        pos      0
2    0.465       0.0        pos      4
3    0.755       0.0        pos      4
4    0.000       0.0        pos      1
Predicted Flirtatious Messages:
      Date        Time          Name  \
0   1/6/23    9:39â€¯AM    Elil Greens
1   1/6/23    9:39â€¯AM    Elil Greens
2   1/6/23    9:39â€¯AM    Elil Greens
3   1/6/23   10:05â€¯AM              ðŸŒš
4   1/6/23   10:08â€¯AM    Elil Greens
..     ...         ...           ...
61  3/3/23    7:11â€¯PM              ðŸŒš
62  3/3/23    7:20â€¯PM              ðŸŒš
63  3/3/23    7:49â€¯PM              ðŸŒš
64  3/5/23    9:26â€¯PM    Elil Greens
65  3/5/23    9:48â€¯PM              ðŸŒš

                                        Chat flirt_prediction
0                                         Hi               no
1    I am Ezhilarasan from Greens technology               no
2               When will u free pls call me              yes
3                Pls give the python content               no
4                                         ok               no
..                                       ...              ...
61                                  Sir link               no
62                                      Sir                no
63                                      Sir                no
64                                   Hai all               no
65                                    Ok sir               no

[66 rows x 5 columns]

In [47]:
df

,Date,Time,Name,Chat,scores,compound,positive,neutral,negative,comp_score,Topic,flirt_prediction
0,1/6/23,9:39â€¯AM,Elil Greens,Hi,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.000,1.000,0.0,pos,3,no
1,1/6/23,9:39â€¯AM,Elil Greens,I am Ezhilarasan from Greens technology,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.000,1.000,0.0,pos,0,no
2,1/6/23,9:39â€¯AM,Elil Greens,When will u free pls call me,"{'neg': 0.0, 'neu': 0.465, 'pos': 0.535, 'comp...",0.5574,0.535,0.465,0.0,pos,4,yes
3,1/6/23,10:05â€¯AM,ðŸŒš,Pls give the python content,"{'neg': 0.0, 'neu': 0.755, 'pos': 0.245, 'comp...",0.0772,0.245,0.755,0.0,pos,4,no
4,1/6/23,10:08â€¯AM,Elil Greens,ok,"{'neg': 0.0, 'neu': 0.0, 'pos': 1.0, 'compound...",0.2960,1.000,0.000,0.0,pos,1,no
...,...,...,...,...,...,...,...,...,...,...,...,...
61,3/3/23,7:11â€¯PM,ðŸŒš,Sir link,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.000,1.000,0.0,pos,0,no
62,3/3/23,7:20â€¯PM,ðŸŒš,Sir,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.000,1.000,0.0,pos,0,no
63,3/3/23,7:49â€¯PM,ðŸŒš,Sir,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.000,1.000,0.0,pos,0,no
64,3/5/23,9:26â€¯PM,Elil Greens,Hai all,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.000,1.000,0.0,pos,0,no
65,3/5/23,9:48â€¯PM,ðŸŒš,Ok sir,"{'neg': 0.0, 'neu': 0.312, 'pos': 0.688, 'comp...",0.2960,0.688,0.312,0.0,pos,1,no

# Talkative & Less talkative

In [48]:
# Step 1: Read the WhatsApp chat data
df = pd.read_csv('whatsapp_data.csv')

# Display the first few rows to understand the structure
print(df.head())

# Step 2: Define labels based on criteria (example: message length)
def classify_talkativeness(message):
    # Example criteria: classify as talkative if message length is long
    if len(message.split()) >= 5:
        return 'talkative'
    else:
        return 'less talkative'

# Apply classification function to each row
df['talkativeness_prediction'] = df['Chat'].apply(classify_talkativeness)

# Display the predicted results
print("Predicted Talkativeness:")
print(df[['Date', 'Time', 'Name', 'Chat', 'talkativeness_prediction']])

# Optionally, you can save the results to a new CSV file
#df.to_csv('whatsapp_data_with_talkativeness_predictions.csv', index=False)

     Date        Time          Name                                      Chat  \
0  1/6/23    9:39â€¯AM    Elil Greens                                        Hi
1  1/6/23    9:39â€¯AM    Elil Greens   I am Ezhilarasan from Greens technology
2  1/6/23    9:39â€¯AM    Elil Greens              When will u free pls call me
3  1/6/23   10:05â€¯AM              ðŸŒš               Pls give the python content
4  1/6/23   10:08â€¯AM    Elil Greens                                        ok

                                              scores  compound  positive  \
0  {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...    0.0000     0.000
1  {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...    0.0000     0.000
2  {'neg': 0.0, 'neu': 0.465, 'pos': 0.535, 'comp...    0.5574     0.535
3  {'neg': 0.0, 'neu': 0.755, 'pos': 0.245, 'comp...    0.0772     0.245
4  {'neg': 0.0, 'neu': 0.0, 'pos': 1.0, 'compound...    0.2960     1.000

   neutral  negative comp_score  Topic
0    1.000       0.0        pos      3
1    1.000       0.0        pos      0
2    0.465       0.0        pos      4
3    0.755       0.0        pos      4
4    0.000       0.0        pos      1
Predicted Talkativeness:
      Date        Time          Name  \
0   1/6/23    9:39â€¯AM    Elil Greens
1   1/6/23    9:39â€¯AM    Elil Greens
2   1/6/23    9:39â€¯AM    Elil Greens
3   1/6/23   10:05â€¯AM              ðŸŒš
4   1/6/23   10:08â€¯AM    Elil Greens
..     ...         ...           ...
61  3/3/23    7:11â€¯PM              ðŸŒš
62  3/3/23    7:20â€¯PM              ðŸŒš
63  3/3/23    7:49â€¯PM              ðŸŒš
64  3/5/23    9:26â€¯PM    Elil Greens
65  3/5/23    9:48â€¯PM              ðŸŒš

                                        Chat talkativeness_prediction
0                                         Hi           less talkative
1    I am Ezhilarasan from Greens technology                talkative
2               When will u free pls call me                talkative
3                Pls give the python content                talkative
4                                         ok           less talkative
..                                       ...                      ...
61                                  Sir link           less talkative
62                                      Sir            less talkative
63                                      Sir            less talkative
64                                   Hai all           less talkative
65                                    Ok sir           less talkative

[66 rows x 5 columns]

In [49]:
df

,Date,Time,Name,Chat,scores,compound,positive,neutral,negative,comp_score,Topic,talkativeness_prediction
0,1/6/23,9:39â€¯AM,Elil Greens,Hi,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.000,1.000,0.0,pos,3,less talkative
1,1/6/23,9:39â€¯AM,Elil Greens,I am Ezhilarasan from Greens technology,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.000,1.000,0.0,pos,0,talkative
2,1/6/23,9:39â€¯AM,Elil Greens,When will u free pls call me,"{'neg': 0.0, 'neu': 0.465, 'pos': 0.535, 'comp...",0.5574,0.535,0.465,0.0,pos,4,talkative
3,1/6/23,10:05â€¯AM,ðŸŒš,Pls give the python content,"{'neg': 0.0, 'neu': 0.755, 'pos': 0.245, 'comp...",0.0772,0.245,0.755,0.0,pos,4,talkative
4,1/6/23,10:08â€¯AM,Elil Greens,ok,"{'neg': 0.0, 'neu': 0.0, 'pos': 1.0, 'compound...",0.2960,1.000,0.000,0.0,pos,1,less talkative
...,...,...,...,...,...,...,...,...,...,...,...,...
61,3/3/23,7:11â€¯PM,ðŸŒš,Sir link,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.000,1.000,0.0,pos,0,less talkative
62,3/3/23,7:20â€¯PM,ðŸŒš,Sir,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.000,1.000,0.0,pos,0,less talkative
63,3/3/23,7:49â€¯PM,ðŸŒš,Sir,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.000,1.000,0.0,pos,0,less talkative
64,3/5/23,9:26â€¯PM,Elil Greens,Hai all,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.000,1.000,0.0,pos,0,less talkative
65,3/5/23,9:48â€¯PM,ðŸŒš,Ok sir,"{'neg': 0.0, 'neu': 0.312, 'pos': 0.688, 'comp...",0.2960,0.688,0.312,0.0,pos,1,less talkative

# Most active time ,date ,hours

In [50]:
# Step 1: Read the WhatsApp chat data
df = pd.read_csv('whatsapp_data.csv')

# Display the first few rows to understand the structure
print(df.head())

# Step 2: Convert 'Date' and 'Time' to datetime format
df['DateTime'] = pd.to_datetime(df['Date'] + ' ' + df['Time'])

# Step 3: Extract day of the week and hour of the day
df['DayOfWeek'] = df['DateTime'].dt.day_name()
df['HourOfDay'] = df['DateTime'].dt.hour

# Step 4: Calculate activity metrics
most_active_day = df['DayOfWeek'].mode()[0]  # Mode gives the most frequent value
most_active_time = df['HourOfDay'].mode()[0]  # Mode gives the most frequent value

# Display results
print(f"Most Active Day: {most_active_day}")
print(f"Most Active Time: {most_active_time}:00 - {most_active_time + 1}:00")

     Date        Time          Name                                      Chat  \
0  1/6/23    9:39â€¯AM    Elil Greens                                        Hi
1  1/6/23    9:39â€¯AM    Elil Greens   I am Ezhilarasan from Greens technology
2  1/6/23    9:39â€¯AM    Elil Greens              When will u free pls call me
3  1/6/23   10:05â€¯AM              ðŸŒš               Pls give the python content
4  1/6/23   10:08â€¯AM    Elil Greens                                        ok

                                              scores  compound  positive  \
0  {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...    0.0000     0.000
1  {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...    0.0000     0.000
2  {'neg': 0.0, 'neu': 0.465, 'pos': 0.535, 'comp...    0.5574     0.535
3  {'neg': 0.0, 'neu': 0.755, 'pos': 0.245, 'comp...    0.0772     0.245
4  {'neg': 0.0, 'neu': 0.0, 'pos': 1.0, 'compound...    0.2960     1.000

   neutral  negative comp_score  Topic
0    1.000       0.0        pos      3
1    1.000       0.0        pos      0
2    0.465       0.0        pos      4
3    0.755       0.0        pos      4
4    0.000       0.0        pos      1
Most Active Day: Thursday
Most Active Time: 19:00 - 20:00

In [51]:
df

,Date,Time,Name,Chat,scores,compound,positive,neutral,negative,comp_score,Topic,DateTime,DayOfWeek,HourOfDay
0,1/6/23,9:39â€¯AM,Elil Greens,Hi,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.000,1.000,0.0,pos,3,2023-01-06 09:39:00,Friday,9
1,1/6/23,9:39â€¯AM,Elil Greens,I am Ezhilarasan from Greens technology,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.000,1.000,0.0,pos,0,2023-01-06 09:39:00,Friday,9
2,1/6/23,9:39â€¯AM,Elil Greens,When will u free pls call me,"{'neg': 0.0, 'neu': 0.465, 'pos': 0.535, 'comp...",0.5574,0.535,0.465,0.0,pos,4,2023-01-06 09:39:00,Friday,9
3,1/6/23,10:05â€¯AM,ðŸŒš,Pls give the python content,"{'neg': 0.0, 'neu': 0.755, 'pos': 0.245, 'comp...",0.0772,0.245,0.755,0.0,pos,4,2023-01-06 10:05:00,Friday,10
4,1/6/23,10:08â€¯AM,Elil Greens,ok,"{'neg': 0.0, 'neu': 0.0, 'pos': 1.0, 'compound...",0.2960,1.000,0.000,0.0,pos,1,2023-01-06 10:08:00,Friday,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,3/3/23,7:11â€¯PM,ðŸŒš,Sir link,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.000,1.000,0.0,pos,0,2023-03-03 19:11:00,Friday,19
62,3/3/23,7:20â€¯PM,ðŸŒš,Sir,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.000,1.000,0.0,pos,0,2023-03-03 19:20:00,Friday,19
63,3/3/23,7:49â€¯PM,ðŸŒš,Sir,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.000,1.000,0.0,pos,0,2023-03-03 19:49:00,Friday,19
64,3/5/23,9:26â€¯PM,Elil Greens,Hai all,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.000,1.000,0.0,pos,0,2023-03-05 21:26:00,Sunday,21
65,3/5/23,9:48â€¯PM,ðŸŒš,Ok sir,"{'neg': 0.0, 'neu': 0.312, 'pos': 0.688, 'comp...",0.2960,0.688,0.312,0.0,pos,1,2023-03-05 21:48:00,Sunday,21

# Media Count

In [53]:
# Step 1: Read the WhatsApp chat data
df = pd.read_csv('whatsapp_data.csv')

# Display the first few rows to understand the structure
print(df.head())

# Step 2: Define function to identify media messages
def media_message(chat_text):
    return '<Media omitted>' in str(chat_text)  # Check if message contains media indicator

# Step 3: Mark messages containing media
df['Media SR count'] = df['Chat'].apply(media_message)

# Step 4: Group by 'Name' and count media messages
media_counts = df[df['Media SR count']].groupby('Name').size().reset_index(name='MediaCount')

# Display results
print("Media Counts:")
print(media_counts)

     Date        Time          Name                                      Chat  \
0  1/6/23    9:39â€¯AM    Elil Greens                                        Hi
1  1/6/23    9:39â€¯AM    Elil Greens   I am Ezhilarasan from Greens technology
2  1/6/23    9:39â€¯AM    Elil Greens              When will u free pls call me
3  1/6/23   10:05â€¯AM              ðŸŒš               Pls give the python content
4  1/6/23   10:08â€¯AM    Elil Greens                                        ok

                                              scores  compound  positive  \
0  {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...    0.0000     0.000
1  {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...    0.0000     0.000
2  {'neg': 0.0, 'neu': 0.465, 'pos': 0.535, 'comp...    0.5574     0.535
3  {'neg': 0.0, 'neu': 0.755, 'pos': 0.245, 'comp...    0.0772     0.245
4  {'neg': 0.0, 'neu': 0.0, 'pos': 1.0, 'compound...    0.2960     1.000

   neutral  negative comp_score  Topic
0    1.000       0.0        pos      3
1    1.000       0.0        pos      0
2    0.465       0.0        pos      4
3    0.755       0.0        pos      4
4    0.000       0.0        pos      1
Media Counts:
Empty DataFrame
Columns: [Name, MediaCount]
Index: []

In [54]:
df

,Date,Time,Name,Chat,scores,compound,positive,neutral,negative,comp_score,Topic,Media SR count
0,1/6/23,9:39â€¯AM,Elil Greens,Hi,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.000,1.000,0.0,pos,3,False
1,1/6/23,9:39â€¯AM,Elil Greens,I am Ezhilarasan from Greens technology,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.000,1.000,0.0,pos,0,False
2,1/6/23,9:39â€¯AM,Elil Greens,When will u free pls call me,"{'neg': 0.0, 'neu': 0.465, 'pos': 0.535, 'comp...",0.5574,0.535,0.465,0.0,pos,4,False
3,1/6/23,10:05â€¯AM,ðŸŒš,Pls give the python content,"{'neg': 0.0, 'neu': 0.755, 'pos': 0.245, 'comp...",0.0772,0.245,0.755,0.0,pos,4,False
4,1/6/23,10:08â€¯AM,Elil Greens,ok,"{'neg': 0.0, 'neu': 0.0, 'pos': 1.0, 'compound...",0.2960,1.000,0.000,0.0,pos,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
61,3/3/23,7:11â€¯PM,ðŸŒš,Sir link,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.000,1.000,0.0,pos,0,False
62,3/3/23,7:20â€¯PM,ðŸŒš,Sir,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.000,1.000,0.0,pos,0,False
63,3/3/23,7:49â€¯PM,ðŸŒš,Sir,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.000,1.000,0.0,pos,0,False
64,3/5/23,9:26â€¯PM,Elil Greens,Hai all,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,0.000,1.000,0.0,pos,0,False
65,3/5/23,9:48â€¯PM,ðŸŒš,Ok sir,"{'neg': 0.0, 'neu': 0.312, 'pos': 0.688, 'comp...",0.2960,0.688,0.312,0.0,pos,1,False

# Missed call count

In [57]:
import pandas as pd

# Step 1: Read the WhatsApp chat data
df = pd.read_csv('whatsapp_data.csv')

# Display the first few rows to understand the structure
print(df.head())

# Step 2: Define function to identify missed call messages
def is_missed_call(chat_text):
    chat_lower = str(chat_text).lower()
    return 'missed call' in chat_lower or 'call back' in chat_lower

# Step 3: Count missed call messages
missed_call_count = df[df['Chat'].apply(lambda x: is_missed_call(x))].shape[0]

# Display results
print(f"Total Missed Calls: {missed_call_count}")
print(missed_call_counts)

     Date        Time          Name                                      Chat  \
0  1/6/23    9:39â€¯AM    Elil Greens                                        Hi
1  1/6/23    9:39â€¯AM    Elil Greens   I am Ezhilarasan from Greens technology
2  1/6/23    9:39â€¯AM    Elil Greens              When will u free pls call me
3  1/6/23   10:05â€¯AM              ðŸŒš               Pls give the python content
4  1/6/23   10:08â€¯AM    Elil Greens                                        ok

                                              scores  compound  positive  \
0  {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...    0.0000     0.000
1  {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...    0.0000     0.000
2  {'neg': 0.0, 'neu': 0.465, 'pos': 0.535, 'comp...    0.5574     0.535
3  {'neg': 0.0, 'neu': 0.755, 'pos': 0.245, 'comp...    0.0772     0.245
4  {'neg': 0.0, 'neu': 0.0, 'pos': 1.0, 'compound...    0.2960     1.000

   neutral  negative comp_score  Topic
0    1.000       0.0        pos      3
1    1.000       0.0        pos      0
2    0.465       0.0        pos      4
3    0.755       0.0        pos      4
4    0.000       0.0        pos      1
Total Missed Calls: 0
Empty DataFrame
Columns: [Name, MissedCallCount]
Index: []